
<div class="text-center p-2 all-content" [ngClass]="cityNotFound()">
  <div class="main">
    <input class="form-control inpt" type="search" placeholder="Search...." 
     [(ngModel)]="searchedValue">
    <h3 *ngIf="okResponse" class="mt-4 text-white">{{responseCity | titlecase}}</h3>
    <h2 *ngIf="okResponse" class="mt-5 text-white" style="font-size: 60px;">{{temperature | number:'1.0-0'}}°C</h2>
    <h3 *ngIf="!okResponse && searchedValue" class="mt-5 text-danger">City not found</h3>
    <h3 *ngIf="!searchedValue" class="mt-5 text-danger">Enter city name</h3>
  </div>

  <div *ngIf="okResponse" class="text-white respo" >
    <div class="mt-4">
      <span><img [src]="wImg" height="30" width="20"></span>
      <span class="ms-3 me-5 fs-6">{{max_temp | number:'1.0-2'}}°C</span>
      <span class="ms-3"><img src="../../assets/cold-temp.png"  height="40"></span>
      <span class="ms-3 fs-6">{{min_temp | number:'1.0-2'}}°C</span>
    </div>
    <div class="mt-4">
      <span><img src="../../assets/humidity.png" height="40"></span><span class="ms-3 me-3 fs-6">{{humidity}}%</span>
      <span class="ms-5"><img src="../../assets/wind.png"  height="40"></span><span class="ms-3 fs-6">{{windSpeed}} mps</span>
    </div>
  </div>
</div>

<!-- <div class="parent-container">
  dvbhdvbj
</div>
<div  class="parent-container1">
  ghghg
</div>
<div [class.temp2]="temperature >= 20" [class.temp]="temperature < 20">
  {{temperature}}
</div>
<div class="cl1" >
  <div class="cl2 cl3">
    <div class="cl4">
      gvfdvfvf
    </div>
  </div>
</div>
<span class="parent-containe2r">  gregvreg</span>
<span class="parent-container3">  ghththeregvreg</span> 
<div class="ftr"> footer</div> -->